
.ps-menu-area{
    color: #edeaea;        
    font-size: 15px;
    background-color: #444;
}
.ps-fade-in{
    -moz-transition: linear all 0.5s;
    -o-transition: linear all 0.5s;
    -webkit-transition: linear all 0.5s;
    transition: linear all 0.5s;   
}

.ps-fade-in.ng-hide{
    opacity: 0;
}

.ps-menu-area-vertical{
    width: 200px;
    padding-top: 30px;
    min-height: 100vh;
}

.ps-menu-area-horizontal{
    position:relative;
    width: 100%;
    height: 46px;
}

.ps-menu{
    list-style: none;
    padding: 0;
}

.ps-select-item{    
    padding: 12px 0;
    cursor: pointer;
}

.ps-select-item:hover{
    background: #808080;
}

.ps-menu-icon{
    padding:0 18px;
}

.ps-noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

.ps-menu-active-indicator{
    float: right;
    color: #ddd;
    margin-right: 0;
    margin-top: -25px;
}

.ps-menu-group-item{
    padding-left: 25px;
}

.ps-menu-layout-button{
    color: #bbb;
    margin: 12px;
    padding: 2px 8px;
    background: #333;
    border: 1px solid #999;
}

.ps-menu-layout-button-horizontal{
    position:absolute;
    right: 0;
    top: -2px;
}

.ps-dropdown-submenu{
    position: absolute;
    z-index: 1000;
    background: #444;
    width: 184px;
    padding: 0;
}

.ps-item-horizontal{
    display: inline-block;
    width: 184px !important;    
    line-height: 1.5em !important;
}